In [2]:
import pandas as pd

In [11]:
test_e_p = pd.read_csv('test_entity_pos.txt',header = None)

In [13]:
test_e_p.head(10)

               0     1
0             RT    NN
1  EntheosShines   NNS
2           Just    RB
3             As    IN
4           Some    DT
5        Parents   NNS
6           Have    VB
7              A    DT
8       Favorite    NN
9          Child    NN

In [14]:
test_e_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4346 entries, 0 to 4345
Data columns (total 2 columns):
0    4345 non-null object
1    4346 non-null object
dtypes: object(2)
memory usage: 68.0+ KB

In [15]:
train_e_p = pd.read_csv('train_entity_pos.txt',header = None)

In [16]:
train_e_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77879 entries, 0 to 77878
Data columns (total 2 columns):
0    77868 non-null object
1    77879 non-null object
dtypes: object(2)
memory usage: 1.2+ MB