In [29]:
import pandas as pd
import numpy as np

In [11]:
test = pd.read_table('NEEL2016-test_neel.gs',header = None,delim_whitespace=True)

In [13]:
test.head(5)

,0,1,2,3,4,5
0,674869443671941120,93,101,http://dbpedia.org/resource/Egyptians,1,Thing
1,674869443671941120,63,68,http://dbpedia.org/resource/Barack_Obama,1,Person
2,674869443671941120,112,123,NIL101,1,Person
3,674869443671941120,4,17,NIL113,1,Person
4,674869443671941120,125,135,NIL165,1,Person

In [16]:
col4 = test[4].values

In [38]:
col1 = test[0]

In [39]:
#col1.to_csv('test_data_ID',header=False,index = False)

In [48]:
col5 = test[5].values

In [42]:
train = pd.read_table('NEEL2016-training_neel.gs',header =None,delim_whitespace=True)

In [43]:
train.head(5)

,0,1,2,3,4,5
0,100000025580548097,31,35,http://dbpedia.org/resource/BRIC,1,Thing
1,100000025580548097,69,74,http://dbpedia.org/resource/Intel,1,Organization
2,100000025580548097,3,8,http://dbpedia.org/resource/Intel,1,Organization
3,100008638684475392,104,110,http://dbpedia.org/resource/Afghanistan,1,Location
4,100010138022330368,29,34,http://dbpedia.org/resource/Japan,1,Location

In [44]:
train_col1 = train[0]

In [45]:
train_col1.to_csv('train_data_ID',header = False,index = False)

In [65]:
test_textData = [line.rstrip() for line in open('NEEL2016-test.tsv')]

In [67]:
lentest_textData[:5]

["|674963312203816962|,|Day 9: Wearing a #StarWars T-Shirt each day until 'The Force Awakens'.  We're half way there! https://t.co/QoAOxoSCJk|",
 '|675567581365932032|,|@realDonaldTrump @ComatoseJeb #Trump rest. We need u 2 stay strong.|',
 '|677037059710820352|,|.@DannGireDHFilm awards 3Â½ stars to #StarWars #TheForceAwakens. His review: https://t.co/waEJjB8cSn|',
 '|677036683028799488|,|Our film critic Damon Smith gives #TheForceAwakens 8.5/10 - "a rollicking and unabashedly old-fashioned battle beyond the stars"|',
 "|676803867204538368|,|RT @JamesBallardie: The Radicalisation of Luke Skywalker: A Jedi's Path To Jihad -  https://t.co/jq0W9xuWYw #StarWarsForceAwakens #StarWars|"]