In [2]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import string

## Train data process

In [ ]:
train_data = pd.read_csv('twitter_training.txt',sep= '|',header = None)

In [ ]:
train_data.info()

In [ ]:
train_data[4600:4700]

In [ ]:
#train_data.drop(train_data.columns[0],axis=1,inplace = True)

In [ ]:
#train_data.drop(train_data.columns[0],axis=1,inplace = True)

In [ ]:
#train_data.drop(train_data.columns[3],axis=1,inplace = True)

In [ ]:
#train_data

In [ ]:
original_train = pd.read_table('NEEL2016-training_neel.gs',header = None,delim_whitespace=True)

In [ ]:
original_train.drop(original_train.columns[2],axis=1,inplace = True)

In [ ]:
original_train.head()

In [ ]:
train = pd.concat([train_data, original_train], axis=1)

In [ ]:
train

## Test data Process

In [3]:
test_data = pd.read_table('twitter_test.txt',header = None,sep='|')

In [4]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 6 columns):
0    0 non-null float64
1    1022 non-null int64
2    1022 non-null object
3    1022 non-null object
4    1022 non-null object
5    0 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 48.0+ KB

In [5]:
test_data.head(5)

,0,1,2,3,4,5
0,NaN,674869443671941120,RT @EntheosShines: Just As Some Parents Have A...,Egyptian,Thing,NaN
1,NaN,674869443671941120,RT @EntheosShines: Just As Some Parents Have A...,Obama,Person,NaN
2,NaN,674869443671941120,RT @EntheosShines: Just As Some Parents Have A...,chirofrenzy,Person,NaN
3,NaN,674869443671941120,RT @EntheosShines: Just As Some Parents Have A...,EntheosShines,Person,NaN
4,NaN,674869443671941120,RT @EntheosShines: Just As Some Parents Have A...,PatVPeters,Person,NaN

In [6]:
test_data.drop(test_data.columns[0],axis=1,inplace = True)

In [7]:
test_data.drop(test_data.columns[0],axis=1,inplace = True)

In [8]:
test_data.drop(test_data.columns[3],axis=1,inplace = True)

In [9]:
test_data.columns=['Sentence','Entity','Label']

In [11]:
test_data.head(10)

                                            Sentence           Entity    Label
0  RT @EntheosShines: Just As Some Parents Have A...         Egyptian    Thing
1  RT @EntheosShines: Just As Some Parents Have A...            Obama   Person
2  RT @EntheosShines: Just As Some Parents Have A...      chirofrenzy   Person
3  RT @EntheosShines: Just As Some Parents Have A...    EntheosShines   Person
4  RT @EntheosShines: Just As Some Parents Have A...       PatVPeters   Person
5  RT @Rick_OntheRocks: The Ultimate List Of Wher...        Star Wars  Product
6  RT @Rick_OntheRocks: The Ultimate List Of Wher...         StarWars  Product
7  RT @Rick_OntheRocks: The Ultimate List Of Wher...  TheForceAwakens  Product
8  RT @Rick_OntheRocks: The Ultimate List Of Wher...  Rick_OntheRocks   Person
9  RT @regentsuni: Is the #starwars force strong ...         starwars  Product

### Delete punctuation and stopwords

In [12]:
def text_process(sentence):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in sentence if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [13]:
test_data['Sentence'].apply(text_process)

0       [RT, EntheosShines, Parents, Favorite, Child, ...
1       [RT, EntheosShines, Parents, Favorite, Child, ...
2       [RT, EntheosShines, Parents, Favorite, Child, ...
3       [RT, EntheosShines, Parents, Favorite, Child, ...
4       [RT, EntheosShines, Parents, Favorite, Child, ...
5       [RT, RickOntheRocks, Ultimate, List, Buy, Star...
6       [RT, RickOntheRocks, Ultimate, List, Buy, Star...
7       [RT, RickOntheRocks, Ultimate, List, Buy, Star...
8       [RT, RickOntheRocks, Ultimate, List, Buy, Star...
9       [RT, regentsuni, starwars, force, strong, Take...
10      [RT, regentsuni, starwars, force, strong, Take...
11      [RT, regentsuni, starwars, force, strong, Take...
12      [RT, regentsuni, starwars, force, strong, Take...
13      [RT, regentsuni, starwars, force, strong, Take...
14      [celebrateyourforce, starwars, starwarsbattlef...
15      [case, anyone, forgotten, 1, WEEK, StarWars, c...
16      [case, anyone, forgotten, 1, WEEK, StarWars, c...
17      [case, anyone, forgotten, 1, WEEK, StarWars, c...
18      [case, anyone, forgotten, 1, WEEK, StarWars, c...
19      [case, anyone, forgotten, 1, WEEK, StarWars, c...
20      [MB, DawnCullo, Star, Wars, Force, Awakens, Pr...
21      [MB, DawnCullo, Star, Wars, Force, Awakens, Pr...
22      [MB, DawnCullo, Star, Wars, Force, Awakens, Pr...
23      [MB, DawnCullo, Star, Wars, Force, Awakens, Pr...
24      [7, Days, StarWars, TheForceAwakens, httpstcoX...
25      [7, Days, StarWars, TheForceAwakens, httpstcoX...
26      [Fingers, crossed, lip, service, malick, starw...
27      [Fingers, crossed, lip, service, malick, starw...
28      [Star, Wars, 1313, might, dead, yet, httpstco5...
29      [Star, Wars, 1313, might, dead, yet, httpstco5...
                              ...
992     [see, StarWars, seeing, amazing, movie, go, ba...
993     [RT, DeanWye, force, strong, film, TV, trail, ...
994     [RT, DeanWye, force, strong, film, TV, trail, ...
995     [RT, DeanWye, force, strong, film, TV, trail, ...
996     [RT, DeanWye, force, strong, film, TV, trail, ...
997     [Ive, asked, talk, nowIve, seen, TheForceAwake...
998     [MovieManMenzel, Star, Wars, Force, Awakens, R...
999     [MovieManMenzel, Star, Wars, Force, Awakens, R...
1000    [MovieManMenzel, Star, Wars, Force, Awakens, R...
1001    [MovieManMenzel, Star, Wars, Force, Awakens, R...
1002    [MovieManMenzel, Star, Wars, Force, Awakens, R...
1003    [MovieManMenzel, Star, Wars, Force, Awakens, R...
1004    [RT, IMDb, BoxOffice, starwars, TheForceAwaken...
1005    [RT, IMDb, BoxOffice, starwars, TheForceAwaken...
1006    [RT, IMDb, BoxOffice, starwars, TheForceAwaken...
1007    [TheFilmFile, Review, STAR, WARS, EPISODE, VII...
1008    [TheFilmFile, Review, STAR, WARS, EPISODE, VII...
1009    [TheFilmFile, Review, STAR, WARS, EPISODE, VII...
1010    [TheFilmFile, Review, STAR, WARS, EPISODE, VII...
1011    [RT, 702sydney, StarWars, TheForceAwakens, pre...
1012    [RT, 702sydney, StarWars, TheForceAwakens, pre...
1013    [RT, 702sydney, StarWars, TheForceAwakens, pre...
1014    [RT, 702sydney, StarWars, TheForceAwakens, pre...
1015                [Star, Wars, Day, httpstcoe27hMipoJo]
1016    [RT, akyenebajoey, wish, PulseMania, Xmas, sta...
1017    [RT, akyenebajoey, wish, PulseMania, Xmas, sta...
1018    [RT, akyenebajoey, wish, PulseMania, Xmas, sta...
1019    [RT, akyenebajoey, wish, PulseMania, Xmas, sta...
1020    [RT, akyenebajoey, wish, PulseMania, Xmas, sta...
1021    [RT, akyenebajoey, wish, PulseMania, Xmas, sta...
Name: Sentence, Length: 1022, dtype: object

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
bow_transformer = CountVectorizer(analyzer = text_process).fit(test_data['Sentence'])

In [16]:
test_data.iloc[77]['Sentence']

"‚ú®üåüüí´Getting so close, #TheForceAwakens. #StarWars marathon this weekend, yip I'm just that wild and crazy! üññüèæü§ìüôÖüèΩ üí´üåü‚ú® https://t.co/GKaSLCuAim"

In [17]:
test_data.head()

                                            Sentence         Entity   Label
0  RT @EntheosShines: Just As Some Parents Have A...       Egyptian   Thing
1  RT @EntheosShines: Just As Some Parents Have A...          Obama  Person
2  RT @EntheosShines: Just As Some Parents Have A...    chirofrenzy  Person
3  RT @EntheosShines: Just As Some Parents Have A...  EntheosShines  Person
4  RT @EntheosShines: Just As Some Parents Have A...     PatVPeters  Person

In [18]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 3 columns):
Sentence    1022 non-null object
Entity      1022 non-null object
Label       1022 non-null object
dtypes: object(3)
memory usage: 24.0+ KB

In [19]:
def whetherIsCapital(entity):
    if entity.islower() == True:
        return '0'
    else:
        return '1'

In [20]:
test_data['WhetherIsCapital'] = test_data['Entity'].map(whetherIsCapital)

In [21]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 4 columns):
Sentence            1022 non-null object
Entity              1022 non-null object
Label               1022 non-null object
WhetherIsCapital    1022 non-null object
dtypes: object(4)
memory usage: 32.0+ KB

In [22]:
test_data.head(10)

,Sentence,Entity,Label,WhetherIsCapital
0,RT @EntheosShines: Just As Some Parents Have A...,Egyptian,Thing,1
1,RT @EntheosShines: Just As Some Parents Have A...,Obama,Person,1
2,RT @EntheosShines: Just As Some Parents Have A...,chirofrenzy,Person,0
3,RT @EntheosShines: Just As Some Parents Have A...,EntheosShines,Person,1
4,RT @EntheosShines: Just As Some Parents Have A...,PatVPeters,Person,1
5,RT @Rick_OntheRocks: The Ultimate List Of Wher...,Star Wars,Product,1
6,RT @Rick_OntheRocks: The Ultimate List Of Wher...,StarWars,Product,1
7,RT @Rick_OntheRocks: The Ultimate List Of Wher...,TheForceAwakens,Product,1
8,RT @Rick_OntheRocks: The Ultimate List Of Wher...,Rick_OntheRocks,Person,1
9,RT @regentsuni: Is the #starwars force strong ...,starwars,Product,0

In [23]:
def calculateLength(Sentence):
    return len(Sentence)

In [24]:
test_data['SentenceLength'] = test_data['Sentence'].map(calculateLength)

In [26]:
test_data.head(10)

,Sentence,Entity,Label,WhetherIsCapital,SentenceLength
0,RT @EntheosShines: Just As Some Parents Have A...,Egyptian,Thing,1,140
1,RT @EntheosShines: Just As Some Parents Have A...,Obama,Person,1,140
2,RT @EntheosShines: Just As Some Parents Have A...,chirofrenzy,Person,0,140
3,RT @EntheosShines: Just As Some Parents Have A...,EntheosShines,Person,1,140
4,RT @EntheosShines: Just As Some Parents Have A...,PatVPeters,Person,1,140
5,RT @Rick_OntheRocks: The Ultimate List Of Wher...,Star Wars,Product,1,140
6,RT @Rick_OntheRocks: The Ultimate List Of Wher...,StarWars,Product,1,140
7,RT @Rick_OntheRocks: The Ultimate List Of Wher...,TheForceAwakens,Product,1,140
8,RT @Rick_OntheRocks: The Ultimate List Of Wher...,Rick_OntheRocks,Person,1,140
9,RT @regentsuni: Is the #starwars force strong ...,starwars,Product,0,140

### Delete URL

In [27]:
def delete_url(list1):
    new = []
    for word in list1:
        if (word.startswith('https') == False):
            new.append(word)
    return new

In [32]:
def sentence_delete_url(sentence):
    word = sentence.split()
    newlist = delete_url(word)
    newsentence = ' '.join(newlist)
    return newsentence

In [33]:
test_data['NewSentence']=test_data['Sentence'].map(sentence_delete_url)

In [38]:
test_data.iloc[17]['NewSentence']

'Just in case anyone has forgotten... 1 WEEK until #StarWars comes out @LAriola25 @Breeskiis @NatalieBrookeJ @bennyB522'

In [39]:
test_data['NewLength']=test_data['NewSentence'].map(calculateLength)

In [47]:
#Delete emoji

import re

emoji_pattern = re.compile(u'[\U00010000-\U0010ffff]')

def remove_emoji(text):
    return emoji_pattern.sub(r'', text)

In [48]:
test_data['FinalSentence']=test_data['NewSentence'].map(remove_emoji)

In [51]:
test_data.iloc[144]['FinalSentence']

'RT @OliveaSea: Star wars inspired makeup look#Tutorial #Starwars #Theforceawakens #Starwarsmakeup #beauty #Cosmetics https://t.co‚Ä¶'

#### Sentence to sent2vec